head {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
body {
    font-family: Georgia, Times, 'Times New Roman', serif;
}
p, li {
    font-size: 100%;
    line-height: 20px;
    text-align: justify;
}
h1 {
    font-size: 160%;
}
h2 {
    font-size: 125%;
}
p {
    text-indent: 15px;
}
img {
    height: 300px;
}
figcaption {
    text-align: center;
    font-style: italic;
    font-size: 90%;
}
.mkunderlined {
    text-decoration: underline;
}
.mkbold {
    font-weight: bold;
}
#can, #hcs12 {
    font-weight: bold;
}