head {
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
body {
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.navbar-brand, #home{
    display: inline-block;

}
header {
    font-size: medium;
}
.nav-list{
    padding: 5px;
}
