/*CSS for index Page*/

#first_head {
    text-align: center;
    color: greenyellow;
    text-decoration: underline;
}

body {
    background-color: white;
    color: red;
}

h1 {
    color: black;
    text-decoration: underline;
}

.account_header {
    display: inline-block;
    margin-left: 15px;
}