.account_header {
    display: inline-block;
    margin-left: 15px;
}

li.menu {
    display: inline
}

ul {
    display: flex;
    align-items: stretch;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid black
}

.column {
    float: left;
    width: 33.11%;
    border: 1px solid black;
    height: 600px;
    background-color: rgb(223, 224, 229);
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .floor {
    border: 1px solid black;
    height: 198px;

  }

  .headflr {
      text-align: center;
  }

  .updn2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
  }
  .updn {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }


  .elvbut {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .elvhead {
    text-align: center;
  }

  #flrnbr {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #title {
    width: 100%;
    background-color: rgba(255, 217, 0, 0.788);
    border: 1px solid black;
    height: 100px;
    vertical-align: middle;
  }

  #elevator1 {
    animation-name: elevator;
    animation-duration: 4s;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes elevator {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 200px;
    }
    75% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}


/*
#elevator1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes elevator {
    0% {
        top: 0px;
    }
    25% {
        top: 100px;
    }
    50% {
        top: 200px;
    }
    75% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}
*/
