* {
    font-family: Arial, Verdana, sans-serif;
    color: #35322f;
    text-align: center;
}
#nav, #feature, .article, #footer {
    margin-top: 20px;
    padding: 10px 0px 5px 0px;
}
#feature, .article {
    height: 100px;
}
li {
    display: inline;
    padding: 5px;
}

article {
    background-color: rgb(223, 224, 229);
  }
  .col-xs-12, .col-md-4{
    height: 700px;
    background-clip: padding-box;
    border: 10px solid transparent;
    position: relative;
  }
.floor {
    height: 220px;
    border: 2px solid white;
    margin-top: 5px;

  }

  header{
      background-color: rgb(182, 147, 189);
  }
  
  body{
      padding-top: 60px;
  }
.navbar-brand, #home{
    display: inline-block;

}

#button_array{
    height: 445px;
    border: 2px solid white;
    margin-top: 5px;
}

input{
  outline: none;
}

#elevator1{
    position: absolute;
    top: center;
    left: 50%;
    margin-left: -100px;
}